<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   GujaratiLocalization.plist
   MultiLanguageCode

   Created by Ravi Patel on 14/04/21.
   Copyright (c) 2021 Ravi Patel. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>This is Demo for to show how multi language works</key>
    <string>બહુવિધ ભાષાઓ કેવી રીતે કાર્ય કરે છે તે બતાવવાનું આ ડેમો છે</string>
    <key>Done</key>
    <string>થઈ ગયું</string>
    <key>Cancel</key>
    <string>રદ કરો</string>
</dict>
</plist>
